$primary: #518581;  // Altere a cor primária
$secondary: #FFB23F;  // Altere a cor secundária
$enable-gradients: true;
$bs-box-shadow-sm: #AFADB51A;
$bs-box-shadow-lg: #AFADB533;

@import 'bootstrap/scss/bootstrap';
