:root {
    --main-font-color: #151411;
    --secondary-font-color: rgb(175 173 181 / var(--tw-text-opacity));
    --main-header-color: #FFB23F;
    --primary-color: #40B4A6;
    --font-h1-size: 64px;
    --font-h2-size: 44px;
    --font-h3-size: 24px;
    --font-h4-size: 20px;
    --font-h5-size: 18px;
    --font-h6-size: 16px;
    --font-l1-size: 18px;
    --font-l2-size: 16px;
    --font-l3-size: 14px;
    --font-p1-size: 18px;
    --font-p2-size: 16px;
    --font-p3-size: 14px;
}

body {
    font-family: 'Eudoxus Sans';
}

.layout-container {
    width: min(1440px, 100%);
    margin: 0 auto;
    overflow-x: hidden;
    background-color: #fff;
}

.layout-header {
    width: 100%;
    grid-column: 3;
}

.logo-text {
    font-size: 30px;
    font-weight: 600;
    align-self: center;
}


.header-buttons-center {
    font-size: 18px;
    font-weight: 600;
    align-self: center;
}

.logo-image {
    width: 42px;
    height: 42px;
}

.offcanvas-body,
.header-buttons-start {
    font-size: 18px;
    font-weight: 500;
    line-height: 28.8px;
    color: black;
}

.header-buttons-end {
    display: flex;
    justify-content: flex-end;
    align-self: center;
    column-gap: 2rem;
}

.border-header {
    border-bottom-width: 1px;
    border-color: rgba(228, 228, 230, var(--tw-border-opacity));
}

.text-custom-secondary {
    color: var(--main-header-color);
}

.img-card-benefits {
    height: 62px;
    width: 62px;
}

.arrow-spiral {
    position: absolute;
    top: 80;
    left: 3%;
}

#searchBar {
    position: inherit;
    width: 100%;
    top: 42;
}

#searchBar div {
    width: 60%;
}

.btn,
.btn-primary {
    color: white;
    font-size: 18px;
    font-weight: bold;
    line-height: 23.4px;
    border: none;
    border-radius: 0;
    padding: 20 40 20 40;
}

#btn-search-property {
    padding: 10 40;
}

.header-buttons-center,
a {
    margin-right: 1.5em;
}

.bi-quote {
    font-size: 50px;
    background: linear-gradient(90deg, #40B4A6, #A6D8D2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.card-img {
    height: 50px;
    width: 50px;
    border-radius: 100%;
}

.main-article-title, .main-article-description, .main-article-category {
    color: #fff;
}

.article-author {
    font-size: 12px;
    color: #000;
    font-weight: bold;
}

.article-description {
    display: block;
    width: 200;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}


#testimonialCarousel {
    padding-top: 1.5em;
    padding-bottom: 1.5em;
}


section {
    padding-bottom: 8em;
}

section,
#heading {
    padding-top: 4em;
    padding-bottom: 8em;
}

a {
    text-decoration: none;
    color: black;
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
    color: var(--main-font-color);
}

h1 {
    font-size: var(--font-h1-size);
    line-height: calc(var(--font-h1-size) * 1.3);
}

h2 {
    font-size: var(--font-h2-size);
    line-height: calc(var(--font-h2-size) * 1.3);
}

h3 {
    font-size: var(--font-h3-size);
    line-height: calc(var(--font-h3-size) * 1.3);
}

h4 {
    font-size: var(--font-h4-size);
    line-height: calc(var(--font-h4-size) * 1.3);
}

h5 {
    font-size: var(--font-h5-size);
    line-height: calc(var(--font-h5-size) * 1.3);
}

h6 {
    font-size: var(--font-h6-size);
    line-height: calc(var(--font-h6-size) * 1.3);
}

/* Labels */
l1,
l2,
l3 {
    font-weight: bold;
}

l1 {
    font-size: var(--font-l1-size);
    line-height: calc(var(--font-l1-size) * 1.3);
}

l2 {
    font-size: var(--font-l2-size);
    line-height: calc(var(--font-l2-size) * 1.3);
}

l3 {
    font-size: var(--font-l3-size);
    line-height: calc(var(--font-l3-size) * 1.3);
}

/* Paragraphs */
p1,
p2,
p3 {
    font-weight: 400;
    color: #AFADB4;
    display: block;
}

p1 {
    font-size: var(--font-p1-size);
    line-height: calc(var(--font-p1-size) * 1.8);
}

p2 {
    font-size: var(--font-p2-size);
    line-height: calc(var(--font-p2-size) * 1.8);
}

p3 {
    font-size: var(--font-p3-size);
    line-height: calc(var(--font-p3-size) * 1.8);
}

.shadow-inside img {
    box-shadow: inset 0px 0px 100px 30px #40B4A6;
}

.card-article-img {
    height: 260;
    width: 260;

}

.carousel-custom {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.carousel-track-1 {
    display: flex;
    transition: transform 800ms ease-in-out;
    will-change: transform;
}

.carousel-track-2 {
    display: flex;
    transition: transform 800ms ease-in-out;
    will-change: transform;
}

.card-img-product::after {
    padding-right: 2em;
}

.card {
    flex: 0 0 33.33%;
    /* Cada card ocupa um terço do carrossel */
    margin: 15 0 15 0;
    border: 0;
}

#testimonialCarousel .card-text {
    padding-top: 20;
}

.card-body {
    text-align: center;
}

/* Ajuste para garantir que os cards laterais fiquem parcialmente visíveis */
.carousel-custom .card {
    transform: scale(0.9);
    /* Cards laterais menores */
}

.carousel-custom .card-center {
    transform: scale(1);
    /* Card central em tamanho normal */
    opacity: 1;
}

/* Responsivo para mobile */
@media (max-width: 768px) {
    .card {
        flex-direction: column;
        flex: 0 0 75%;
        /* Em dispositivos móveis, exibir um card por vez */
    }


}

.card-img-product {
    width: 394px;
    height: 360px;
}



.card-product {
    flex: 1 0 25%;
    /* Cada card ocupa um terço do carrossel */
    margin: 15 0;
    background-color: transparent;
    transition: transform 500ms ease-in-out;

}

.card-product:nth-child(2),
.card-product:nth-child(3),
.card-product:nth-child(4) {
    transform: scale(1);
    /* Centraliza o segundo e terceiro cards em tamanho completo */
}

.card-product-body {
    background-color: transparent;
}



.carousel-custom .card-product {
    transform: scale(0.9);
    /* Cards laterais menores */
}

.card-product #product-type {
    padding: 5 0 5;
    font-weight: 700;
}

.card-product #product-price {
    padding: 5 0;
    font-weight: 700;
}

.carousel-control-next {
    background-image: none;
    background-color: var(--primary-color);
    border-radius: 100%;

}


/* Estilos gerais para o carrossel de produtos */
#productCarousel {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.card-product {
    min-width: 394px;
    background-color: transparent;
}

.card-product {

    flex: 0 0;
    /* Cada card ocupa um terço do carrossel */
    background-color: transparent;
}

/* Estilo para os botões circulares de navegação */
#prevButton,
#nextButton {
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    background-color: #000;
    width: 50px;
    height: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: .8;

}

#prevButton {
    left: 30px;
}

#nextButton {
    right: 30px;
}

/* Ícones dos botões de navegação */
.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: #000;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.navbar-toggler {
    border: none;
}

.navbar-toggler:hover {
    color: transparent;
}

.navbar-toggler:focus {
    color: transparent;
}

/* Estilo para mover o offcanvas da esquerda para a direita */
.offcanvas-start {
    transform: translateX(-100%);
    transition: transform 0.3s ease-in;
    /* Transição ao fechar */
}

.offcanvas-start.show {
    transform: translateX(0);
}


.nav-link {
    font-weight: 500;
    color: #000;
}
.nav-link, .text-white {
    color: #fff;
}

.navbar-nav {
    align-items: center;
    justify-content: center;
}

.navbar-brand span {
    font-weight: 700;
    padding-top: 5px;
}

a svg {
    transition: stroke 0.8s ease;
}

a:hover svg {
    stroke-width: 2px;
    stroke: var(--primary-color);
}

.nav-link {
    position: relative;
    display: inline-block;
    padding-bottom: 5px;
    /* Espaço para a linha */
}

.nav-link:hover {
    color: var(--primary-color);
}

.nav-link::after {
    content: "";
    position: absolute;
    width: 0;
    height: 4px;
    bottom: 0;
    left: 0;
    background-color: var(--primary-color);
    transition: width 0.3s ease-in-out;
}

.nav-link:hover::after {
    width: 100%;
}

@keyframes appaer {
    from {
        opacity: 0;
        scale: 0.5;
    }

    to {
        opacity: 1;
        scale: 1;
    }
}

@keyframes appaerImgLeft {
    from {
        opacity: 0;
        clip-path: inset(100% 100% 0 0);
    }

    to {
        opacity: 1;
        clip-path: inset(0 0 0 0);

    }
}

@keyframes appaerImgRight {
    from {
        opacity: 0;
        clip-path: inset(100% 100% 0 0);
    }

    to {
        opacity: 1;
        clip-path: inset(0 0 0 0);
    }
}

nav {

    animation: appaer 0.2s linear;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
#heading {
    animation: fadeInAnimation ease 2s;
            animation-iteration-count: 1;
            animation-fill-mode: forwards;
}

section:not(#heading) {
    animation: appaer 1s linear;
    animation-timeline: view();
    animation-range: entry 10%;
}



/* Responsividade */
@media (max-width: 768px) {

    .layout-header,
    .header-buttons-center,
    .logo-text {
        text-align: center;
    }

    .header-buttons-end {
        justify-content: center;
        column-gap: 1rem;
    }

    .card {
        flex: 0 0 75%;
    }

    .logo-image {
        width: 30px;
        height: 30px;
    }

    .img-card-benefits {
        height: 50px;
        width: 50px;
    }

    .carousel-custom .card {
        transform: scale(0.8);
    }



    section {
        padding-top: 2em;
        padding-bottom: 4em;
    }

    h1 {
        font-size: calc(var(--font-h1-size) * 0.8);
    }

    h2,
    h3,
    h4 {
        font-size: calc(var(--font-h2-size) * 0.8);
    }

    .card-product {
        min-width: 80%;
        margin: 12;
        transform: scale(0.8);
    }

    .card-img-product {
        width: 100%;
        height: 50%;
    }

    #product-category,
    #product-title,
    #product-description,
    #product-price {
        padding-top: 5;
    }

    .card-body h4 {
        font-size: 14px;
    }

    #heading p1 {
        margin: 0;
        flex: 0 0 auto;
        width: 100%;
    }

    .navbar-nav {
        align-items: center;
        justify-content: end;

    }

    #footer {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        /* Cria 3 colunas de largura igual */
        gap: 1rem;
        /* Espaçamento entre as colunas */
    }

    .arrow-spiral {
        display: none;
    }

    #searchBar {
        position: initial;
    }

}
