


.layout-container {
    width: min(1440px, 100%);
    margin: 0 auto;
    overflow-x: hidden !important;
}

.layout-header {
    width: 100% o !important;
    grid-column: 3;
}

/* Header and Footer section */
.logo-text {
    font-size: 30px;
    font-weight: 600;
}

.logo-image {
    width: 42px;
    height: 42px;
}

.header-buttons-center {
    font-size: 18px;
    font-weight: 600;
    line-height: 28.8px;
    color: black;
    /* #afadb5 */
}

.header-buttons-end {
    display: flex;
    justify-content: flex-end;
    align-self: center;
    column-gap: 2rem;
}

.border-header {
    border-bottom-width: 1px;
    --tw-border-opacity: 1;
    border-color: rgb(228 228 230 / var(--tw-border-opacity));
}

.text-custom-secondary {
    color: #FFB23F;
}

a {
    text-decoration: none;
    color: black;
}

/* Headings / H1 to H5 */
h1 {
    font-size: 64px;
    font-weight: bold;
    line-height: 83.2px;
}

h2 {
    font-size: 44px;
    font-weight: bold;
    line-height: 57.2px;
}

h3 {
    font-size: 24px;
    font-weight: bold;
    line-height: 31.2px;
}

h4 {
    font-size: 20px;
    font-weight: bold;
    line-height: 26px;
}

h5 {
    font-size: 18px;
    font-weight: bold;
    line-height: 23.4px;
}

h6 {
    font-size: 16px;
    font-weight: bold;
    line-height: 20.8px;
}

h6+ {
    font-size: 14px;
    font-weight: bold;
    line-height: 18.2px;
}

/* Labels / L1 to L3 */
l1 {
    font-size: 18px;
    font-weight: bold;
    line-height: 23.4px;
}

l2 {
    font-size: 16px;
    font-weight: bold;
    line-height: 20.8px;
}

l3 {
    font-size: 14px;
    font-weight: bold;
    line-height: 18.2px;
}

/* Paragraphs / P1 tp P3 */
p1 {
    font-size: 18px;
    font-weight: 500;
    line-height: 32.4px;
    --tw-text-opacity: 1;
    color: rgb(175 173 181 / var(--tw-text-opacity));
    /* #afadb5 */
}

p2 {
    font-size: 16px;
    font-weight: 500;
    line-height: 28.8px;
    --tw-text-opacity: 1;
    color: rgb(175 173 181 / var(--tw-text-opacity));
    /* #afadb5 */
}

p3 {
    font-size: 14px;
    font-weight: 500;
    line-height: 25.2px;
    --tw-text-opacity: 1;
    color: rgb(175 173 181 / var(--tw-text-opacity));
    /* #afadb5 */
}


