


body {
    /* @apply flex flex-col mx-auto w-full; */
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    max-width: 1440px;
    width: 100%;
}

/* Header and Footer section */
.logo-text {
    font-size: 30px;
    font-weight: 600;
}

.logo-image {
    width: 42px;
    height: 42px;
}

.header-logo {
    width: auto;
}

.header-buttons-center {
    /* @apply flex self-center justify-center gap-x-10; */
    display: flex;
    justify-content: center;
    align-self: center;
    column-gap: 4.5rem;
}

.header-buttons-end {
    display: flex;
    justify-content: flex-end;
    align-self: center;
    column-gap: 2rem;
}

.border-header {
    border-bottom-width: 1px;
    --tw-border-opacity: 1;
    border-color: rgb(228 228 230 / var(--tw-border-opacity));
}


/* Headings / H1 to H5 */
h1 {
    font-size: 64px;
    font-weight: bold;
    line-height: 83.2px;
}

h2 {
    font-size: 44px;
    font-weight: bold;
    line-height: 57.2px;
}

h3 {
    font-size: 24px;
    font-weight: bold;
    line-height: 31.2px;
}

h4 {
    font-size: 20px;
    font-weight: bold;
    line-height: 26px;
}

h5 {
    font-size: 18px;
    font-weight: bold;
    line-height: 23.4px;
}

h6 {
    font-size: 16px;
    font-weight: bold;
    line-height: 20.8px;
}

h6+ {
    font-size: 14px;
    font-weight: bold;
    line-height: 18.2px;
}

/* Labels / L1 to L3 */
l1 {
    font-size: 18px;
    font-weight: bold;
    line-height: 23.4px;
}

l2 {
    font-size: 16px;
    font-weight: bold;
    line-height: 20.8px;
}

l3 {
    font-size: 14px;
    font-weight: bold;
    line-height: 18.2px;
}

/* Paragraphs / P1 tp P3 */
p1 {
    font-size: 18px;
    font-weight: 500;
    line-height: 32.4px;
    --tw-text-opacity: 1;
    color: rgb(175 173 181 / var(--tw-text-opacity));
    /* #afadb5 */
}

p2 {
    font-size: 16px;
    font-weight: 500;
    line-height: 28.8px;
    --tw-text-opacity: 1;
    color: rgb(175 173 181 / var(--tw-text-opacity));
    /* #afadb5 */
}

p3 {
    font-size: 14px;
    font-weight: 500;
    line-height: 25.2px;
    --tw-text-opacity: 1;
    color: rgb(175 173 181 / var(--tw-text-opacity));
    /* #afadb5 */
}
